page-home {
    h1 {
        font-family: Fantasque Sans Mono;
        text-align: center;
    }

    #toogleButton {
        margin: 50px auto;
        display: block;
    }

    #showMaps {
        margin: 50px auto;
        display: block;
    }
}
