.dark-theme {
    ion-content {
        background-color: #2C2F3A;
        color: #fff;
    }

    .toolbar-title {
        color: #fff;
    }

    .toolbar-background {
        border-color: #ff0fff;
        background-color: #2C2F3A;
    }
}